body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
h1{
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
.button__grande{
    height: 50px;
    width: 180px;
    text-align: center;
    margin-bottom: 50px;
}
table{
    justify-self: center;
    text-align: center;
    width: 60%;
}
th{
    height: 35px;
    width: 25%;
}
tr{
    height: 35px;
    width: 25%;
}
