body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
h1{
    margin: 50px 0px;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
.button__grande{
    height: 50px;
    width: 180px;
    text-align: center;
    margin-bottom: 50px;
}
table{
    border-collapse: collapse;
    justify-self: center;
    text-align: center;
    width: 60%;
}
th{
    height: 40px;
    width: 20%;
}
tr{
    height: 40px;
    width: 20%;
    border-bottom: 1px solid black;
    border-radius: 15px;
}
.tr__color{
    background-color: rgb(253, 244, 201);
}
label{
    margin-left: 40px;
}
#barra_filtrado{
    margin: 40px 0px;
}
#mensaje{
    background-color: rgb(192, 238, 192);
    padding: 30px;
    width: 60%;
    border-radius: 10px;
    justify-self: center;
    margin-bottom:20px;
}
form{
    margin:20px 0px;
}
